@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #abb2b9;
}
.App {
  width: 400px;
  height: auto;
  background-color: #4a235a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.App h1 {
  color: white;
}
.inputfield {
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  border: none;
  border-color: none;
  border: none;
}
.addbutton {
  color: #abb2b9;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #A93226;
  border: none;
  border-color: none;
}
.addbutton:hover{
    background-color: #239B56;

}
.todolist{
    color: white;
    letter-spacing: 3px;

}
